<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Box Plots**

Estimated time needed: **45** minutes

In this lab, you will focus on the visualization of data. The dataset will be provided through an RDBMS, and you will need to use SQL queries to extract the required data.

## Objectives

In this lab you will perform the following:

-   Visualize the distribution of data.

-   Visualize the relationship between two features.

-   Visualize data composition and comparisons using box plots.

### Setup: Connecting to the Database

#### 1. Download the Database File

In [ ]:
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/QR9YeprUYhOoLafzlLspAw/survey-results-public.sqlite

--2025-05-19 19:19:18--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/QR9YeprUYhOoLafzlLspAw/survey-results-public.sqlite
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 169.63.118.104
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.63.118.104|:443... connected.
200 OKequest sent, awaiting response...
Length: 211415040 (202M) [application/octet-stream]
Saving to: ‘survey-results-public.sqlite.5’

          survey-re   0%[                    ]       0  --.-KB/s

#### 2. Connect to the Database

**Install the needed libraries**

In [ ]:
!pip install pandas

In [ ]:
!pip install matplotlib

In [ ]:
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt

# Connect to the SQLite database
conn = sqlite3.connect('survey-results-public.sqlite')

## Demo: Basic SQL Queries

#### Demo 1: Count the Number of Rows in the Table

In [ ]:
QUERY = "SELECT COUNT(*) FROM main"
df = pd.read_sql_query(QUERY, conn)
print(df)

#### Demo 2: List All Tables

In [ ]:
QUERY = """
SELECT name as Table_Name 
FROM sqlite_master 
WHERE type = 'table'
"""
pd.read_sql_query(QUERY, conn)

#### Demo 3: Group Data by Age

In [ ]:
QUERY = """
SELECT Age, COUNT(*) as count 
FROM main 
GROUP BY Age 
ORDER BY Age
"""
df_age = pd.read_sql_query(QUERY, conn)
print(df_age)

## Visualizing Data

### Task 1: Visualizing the Distribution of Data

**1. Box Plot of `CompTotal` (Total Compensation)**

Use a box plot to analyze the distribution and outliers in total compensation.

In [ ]:
# your code goes here
from matplotlib.ticker import ScalarFormatter, MaxNLocator
query = "SELECT CompTotal FROM main WHERE CompTotal IS NOT NULL"
df_comptotal = pd.read_sql_query(query, conn)
df_comptotal = df_comptotal[df_comptotal['CompTotal'] < 1_000_000]
plt.figure(figsize=(10, 6))
plt.boxplot(df_comptotal['CompTotal'], vert=False, patch_artist=True, 
            boxprops=dict(facecolor='skyblue', color='black'), 
            medianprops=dict(color='red'))
ax = plt.gca()
plt.title("Box Plot of Total Compensation")
plt.xlabel("Total Compensation")
ax.xaxis.set_major_formatter(ScalarFormatter())
ax.xaxis.set_major_locator(MaxNLocator(integer=True))
plt.show()

**2. Box Plot of Age (converted to numeric values)**

Convert the `Age` column into numerical values and visualize the distribution.

In [ ]:
# your code goes here
query = """
SELECT 
    CAST(SUBSTR(Age, 1, INSTR(Age, ' ') - 1) AS INTEGER) AS NumericAge,
    COUNT(*) AS Frequency
FROM main
WHERE Age IS NOT NULL
GROUP BY NumericAge
ORDER BY NumericAge;
"""
df_age = pd.read_sql_query(query, conn)
df_age.head(6)
plt.figure(figsize=(8, 6))
plt.boxplot(df_age['NumericAge'].dropna(), vert=False, patch_artist=True)
plt.title('Box Plot of Age')
plt.xlabel('Age')
plt.grid(True)
plt.show()

### Task 2: Visualizing Relationships in Data

**1. Box Plot of `CompTotal` Grouped by Age Groups:**

Visualize the distribution of compensation across different age groups.

In [ ]:
# your code goes here
query = """
SELECT 
    CAST(SUBSTR(Age, 1, INSTR(Age, ' ') - 1) AS INTEGER) AS NumericAge,
    CompTotal,
From main
WHERE Age IS NOT NULL AND CompTotal IS NOT NULL
GROUP BY NumericAge
ORDER BY NumericAge;
"""
df = pd.read_sql_query(query, conn)
df = df.groupby("CompTotal")
plt.figure(figsize=(8, 6))
plt.boxplot(df['Age'].dropna(), vert=False, patch_artist=True)
plt.title('Box Plot of Age')
plt.xlabel('Age')
plt.grid(True)
plt.show()

**2. Box Plot of `CompTotal` Grouped by Job Satisfaction (`JobSatPoints_6`):**

Examine how compensation varies based on job satisfaction levels.

In [ ]:
# your code goes here
query = """
SELECT 
    JobSatPoints_6,
    CompTotal,
    COUNT(*) AS Frequency
FROM main
WHERE  JobSatPoints_6 IS NOT NULL AND CompTotal IS NOT NULL
GROUP BY CompTotal
ORDER BY CompTotal;
"""
df = pd.read_sql_query(query, conn)
df = df.groupby("CompTotal")
df["JobSatPoints_6"].plot(kind="box")

### Task 3: Visualizing the Composition of Data

**1. Box Plot of `ConvertedCompYearly` for the Top 5 Developer Types:**

Analyze compensation across the top 5 developer roles.

In [ ]:
# your code goes here

**2. Box Plot of `CompTotal` for the Top 5 Countries:**

Analyze compensation across respondents from the top 5 countries.

In [ ]:
# your code goes here

### Task 4: Visualizing Comparison of Data

**1. Box Plot of CompTotal Across Employment Types:**

Analyze compensation for different employment types.

In [ ]:
# your code goes here

**2. Box Plot of `YearsCodePro` by Job Satisfaction (`JobSatPoints_6`):**

Examine the distribution of professional coding years by job satisfaction levels.

In [ ]:
# your code goes here

### Final Step: Close the Database Connection

After completing the lab, close the connection to the SQLite database:

In [ ]:
conn.close()

## Summary

In this lab, you used box plots to visualize various aspects of the dataset, focusing on:

- Visualize distributions of compensation and age.

- Explore relationships between compensation, job satisfaction, and professional coding experience.

- Analyze data composition across developer roles and countries.

- Compare compensation across employment types and satisfaction levels.

Box plots provided clear insights into the spread, outliers, and central tendencies of various features in the dataset.

## Authors:
Ayushi Jain

### Other Contributors:
- Rav Ahuja
- Lakshmi Holla
- Malika

<!--## Change Log
|Date (YYYY-MM-DD)|Version|Changed By|Change Description|
|-|-|-|-|               
|2024-10-07|1.2|Madhusudan Moole|Reviewed and updated lab|                                                                                      
|2024-10-06|1.0|Raghul Ramesh|Created lab|-->

Copyright © IBM Corporation. All rights reserved.